<ion-content [fullscreen]="true" class="ion-content">
  <div class="container">
    <div class="header">
      <ion-title class="title">Ingresa tu correo</ion-title>
      <p class="subtitle">Para recibir un enlace para restablecer tu contraseña</p>
    </div>

    <div class="form-container">
      <ion-item class="ion-item">
        <ion-input [(ngModel)]="email" class="input" placeholder="Ingresa tu dirección de correo"></ion-input>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
      </ion-item>
      <ion-button shape="round" (click)="resetPassword()" expand="block" class="button">RESTABLECER CONTRASEÑA</ion-button>
    </div>
  </div>
</ion-content>
